/*Formulario */
main {
    max-width: 960px;
    margin: 20px auto;
    background-color:#333;
    color:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 20px;
  }
/*Entradas */
form label,
form input[type="text"],
form input[type="email"],
form textarea {
  display: block; 
  width: 100%; 
  margin-bottom: 15px;
  font-size: 24px; 
  border-radius: 20PX
}

/* Boton de Submit*/
input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: white 1px solid; 
    border-radius: 20PX;
    cursor: pointer;
    font-size: 24px; 
    margin-top: 10px; 
  }