form {
  width: 80%;
  max-width: 720px;
  margin: 20px auto;
  background-color: #333;
  color: white;
  padding: 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
form label,
form input,
form input[type="text"],
form input[type="email"],
form input.primario,
form textarea,
form select,
form button {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  border-radius: 20px;
}
form input,
form select,
form button {
  padding: 8px 12px;
}

form input[type="checkbox"] {
  margin-bottom: 0;
  transform: scale(1.5);
}

.primario {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  background-color: #86c8de;
  color: white;
  width: 100%;
}

.primario:hover {
  background-color: #6598a8;
}

.conteiner-horizontal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 18px;
}

.platos .conteiner-horizontal {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.platos .conteiner-horizontal label {
  margin-right: 10px;
}

.platos .conteiner-horizontal select {
  flex: 1; /* Que el campo de selección ocupe el espacio restante */
  width: 70%; 
}

.platos .conteiner-horizontal input {
  width: 10%;
}
